@import 'variables';

.clickCounter {
  color: $white;
  height: 150px;
  width: 100%;
  background-color: $light-grey;
  text-align: center;

  &__numberOfLikes {
    font-size: 60px;
    width: 50%;
    float: left;
    text-align: right;

    img {
      width: 20%;
    }

    span {
      margin-left: 20px;
      vertical-align: top;
    }
  }

  &__button {
    width: 50%;
    float: right;

    &--inner {
      background-color: #e7e7e7;
      color: $black;
      border: none;
      padding: 18px 17px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 25px 2px;
      cursor: pointer;
      width: 80%;
    }

    &--inner-green {
      background-color: #a7d6b2;
      color: $black;
      border: none;
      padding: 18px 17px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 25px 2px;
      cursor: pointer;
      width: 80%;
    }
  }
}
