@import 'variables';

.footer {
  color: #fff;
  height: 150px;
  padding: 5%;
  background-color: $dark-grey;
  text-align: center;

  &__left,
  &__right {
    width: 50%;
    float: left;
  }

  &-item {
    padding: 5% 0;
  }
}
