.footer {
  color: #fff;
  height: 150px;
  width: 100%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;

  &__left {
    width: 45%;
    float: left;
    font-size: 60px;
    float: left;
    text-align: right;
  }

  &__right {
    width: 55%;
    float: right;
  }
}
