@import 'variables';

.puzzle {
  width: 100%;
  height: auto;
  background-color: $dark-grey;
  color: $black;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  background-color: black;
  opacity: 0;
  max-width: 950px;

  &-heading {
    background-color: $dark-grey;
    color: $white;
    font-size: 45px;
    padding: 2%;

    &-back {
      font-size: 30px;
      margin-top: 6px;
      float: right;
    }
  }

  &_fading {

    @extend .puzzle;

    opacity: 1;
    transition: opacity 2s ease-out;
  }

  &_img20,
  &_img30,
  &_img48 {
    height: auto;
    text-align: center;
    transition: opacity 4s ease-out;
  }

  &_img20 {
    width: 20%;
  }

  &_img30 {
    width: 16.666666%;
  }

  &_img48 {
    width: 12.5%;
  }
}

.congratulation-text {

  position: absolute;
  color: $white;
  font-size: 7vw;
  align-items: center;
  justify-content: center;
  height: 40vw;
  display: flex;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-delay: 1.9s;
  text-align: center;
  width: 100%;
}

@keyframes bounce {

  0% {
    transform: translateY(-150%);
    opacity: 0;
  }

  50% {
    transform: translateY(85%);
    opacity: 0.9;
  }

  51% {
    transform: translateY(87%);
    opacity: 1;
  }

  100% {
    transform: translateY(290%);
    opacity: 0;
  }

}

.bounce {
  animation-name: bounce;
}

