.puzzle {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  background-color: black;
  opacity: 0;
  max-width: 950px;

  &-heading {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 45px;
    padding: 2%;

    &-back {
      font-size: 30px;
      margin-top: 6px;
      float: right;
    }
  }

  &_fading {

    @extend .puzzle;

    opacity: 1;
    transition: opacity 4s ease-out;
  }

  &_img20 {
    width: 20%;
    height: auto;
    text-align: center;
    transition: opacity 4s ease-out;
  }

  &_img30 {
    width: 16.666666%;
    height: auto;
    text-align: center;
    transition: opacity 4s ease-out;
  }

  &_img48 {
    width: 12.5%;
    height: auto;
    text-align: center;
    transition: opacity 4s ease-out;
  }
}
