.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);

  &_item {
    float: left;

    &:hover {
      background-color: #555;
      transition: background-color 0.5s ease;

      .topnav_link {
        font-size: 19px;
      }
    }
  }

  &_link {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
  }

  &_icon {
    display: none;
  }
}

@media screen and (max-width: 680px) {

  .topnav_item {
    transition: opacity 2s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  .topnav_icon {
    float: right;
    display: inline-block;
  }

  ul.topnav.responsive {
    position: relative;
  }

  ul.topnav.responsive li.topnav_icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav.responsive li {
    float: none;
    opacity: 1;
    height: auto;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: left;

    &:hover {
      font-size: 19px;
    }
  }
}

