body,
html {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
} 

.header {
	background-color: #000;
	color: #fff;
	font-size: 60px;

	&-img {
		width: 30%;
		height: auto;
		text-align: center;
	}
}